<h1>Welcome page</h1>

<% if @current_user %>
  Hi, <%= @current_user.name %> |
  <a href="/auth/logout">Logout</a>
<% else %>
  <a href="/auth/facebook">Login with Facebook</a>
  <a href="/auth/google_oauth2">Login with Google</a>
  <a href="/auth/twitter">Login with Twitter</a>
  <a href="/auth/linkedin">Login with LinkedIn</a>
<% end %>